/* add-user.component.css */

div {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to 100% of the viewport height */
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%; /* Ensure the form takes the full width of its container */
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  