/* users.component.css */

div {
    margin: 20px; /* Add some margin around the table */
  }
  
  .user-table {
    width: 80%; /* Set the width of the table */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  